In [4]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder, StandardScaler

In [ ]:
df = pd.read_csv("Telco-Customer-Churn.csv")

df.drop(['customerID'], axis=1, inplace=True) # Dropping the column 'customerID' because it is not useful for predicting

df['TotalCharges'] = pd.to_numeric(df['TotalCharges'], errors='coerce') # Converts 'TotalCharges' to numerical values and non-numeric values become NaN
df['TotalCharges'].fillna(df['TotalCharges'].median()) # Fills missing values with median

# Converts Yes/No categorical columns into binary values (mapping Yes as 1, No as 0)
binary_cols = ['Partner', 'Dependents', 'PhoneService', 'PaperlessBilling', 'Churn'] 
for col in binary_cols:
    df[col] = df[col].map({'Yes': 1, 'No': 0})

df['SeniorCitizen'] = df['SeniorCitizen'].map({0: 'No', 1: 'Yes'}) # Converts 'SeniorCitizen' from '0' and '1' to 'No' and 'Yes'

df = pd.get_dummies(df, columns=['gender', 'InternetService', 'Contract', 'PaymentMethod']) # Encoding categorical variables into binary categories

# Normalize/standardize numerical features by using StandardScaler by scaling them
scaler = StandardScaler()
num_cols = ['MonthlyCharges', 'TotalCharges']
df[num_cols] = scaler.fit_transform(df[num_cols])

pd.options.display.max_columns = None # Use this option to display all columns
df.describe().style.format("{:.1f}")  # I use .style.format("{:.1f}") to make the output more concise