In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("Telco-Customer-Churn.csv")

pd.options.display.max_columns = None # Use this option to display all columns
df.describe().style.format("{:.1f}")  # I use .style.format("{:.1f}") to make the output more concise